---
import Layout from '@layout'
---

<Layout title='sguemar'>
	<main class='flex justify-center items-center h-screen text-white box-border'>
		<section class='border border-indigo-700 rounded p-8'>
			<h1 class='text-center'>PASSWORD GENERATOR</h1>
		</section>
	</main>
</Layout>
