---
import Layout from '@layout'
import PasswordGenerator from '@components/sguemar/PasswordGenerator'
---

<Layout title='sguemar'>
	<main class='flex justify-center items-center h-screen text-white box-border'>
		<section class='border border-indigo-700 rounded p-8 w-96'>
			<h1 class='mb-4 text-center'>PASSWORD GENERATOR</h1>
			<PasswordGenerator client:load />
		</section>
	</main>
</Layout>
